/* Normalize */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, figure, form, fieldset, input, p, blockquote, th, td, legend {
	margin: 0;
	padding: 0;
}
body {
    font-family: 'Georgia', serif; 
	 
	/*the next 3 lines were added for the tree*/
	margin: auto;
	  position: relative;
	  width: 925px;
} 

#chart {
  width: 925px;
  height: 500px;
  background: #ccc;
}

text {
  pointer-events: none;
  font-family: sans-serif;
  font-size: smaller;
}


tspan {
   font-size: x-large;
}

 
.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #fff;
}


rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

 
.grandparent rect {
  fill: #ceecfe;
}
 
.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

 

.children rect.parent {
  fill: #fff;
  fill-opacity: .5;
}

 

.children:hover rect.child {
  fill: #bbb;
}

 

.overlaidText   {
            font-size: 2.2em;
            text-anchor: middle;
            fill: white;
            fill-opacity: 0.8;
            stroke: black;
            stroke-width: 1px;
            stroke-opacity: 0.5;
}


h1 {
    font-family: 'Georgia', serif;
    font-size: 2.0em;
}
h2 {
    font-family: 'Georgia', serif;
    font-size: 1.5em;
}
h3 {
    font-family: 'Georgia', serif;
    font-size: 1.1em;
}
p { line-height: 1.4em; margin-bottom: 1.0em;}
a { color: #821122; }    

table.table1 { 
	width: 925px; 
	border-collapse: collapse;
	border-top: 0px solid #ccc;
	margin-right: 2px; 
   
}

table.table1 td { padding: 15; 
		   margin: 0;    
		   vertical-align:top;
		   padding-top: 40px;   
		}

table.table2 td { padding: 2; 
				   margin: 0;    
				   vertical-align:top;
				   padding-top: 2px;   
				}
table.table3 td { padding: 15; 
						   margin: 0;    
						   vertical-align:top;
						   padding-top: 40px;   
				}
table.table4 td { 
				width: 250px; 
				padding: 2; 
				margin: 0;    
				vertical-align:top;
				padding-top: 2px;   
				}
						

#content {
    width: 925px;
    margin: 0 auto;
	padding-top: 30px;
}                       
#ireland {
     fill: #008000;
     opacity: .8;
     stroke: #FFFFFF;
     stroke-width: .7;
}



#vis {
    min-height: 550px;
}

#treemap {
    min-height: 500px;    
    width: 925px; 

} 

 #map {
    min-height: 500px;    
    width: 400px; 

}   


 #map path:hover {
		fill: #5eab1f;
		fill: #999;
		cursor: pointer;    
		pointer-events: all;
	}

#blurb {
    height: 60px;
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
}

#subtitle {
    height: 20px;
    border-top: 0px solid #e2e2e2;
    padding: 10px;   
	font-family: 'Georgia', serif;
    font-size: 2.0em;
    
}

#subblurb {
    height: 200px;
    border-top: 0px solid #e2e2e2;
    padding: 10px; 
	line-height: 1.2em;  
	font-size: 15px;
	
}


		
line {
    stroke: black;
}
   
text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
} 

.hidden { 
  display: none; 
}
div.tooltip {
  font-family: 'Georgia', serif;
  font-size: 15px;	
  text-align: left;	
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.92; 
  position: absolute;
}



#cite { font-size: 0.7em; text-align: left; margin-top:0px; padding-bottom: 5px; font-style:italic}
#cite a {text-decoration: underline;}  
#cite a:hover {
  color: #821122;
}

#button { text-align: right; margin-top:10px; padding-bottom: 10px; }
#button a { background: #AFAFAF; text-decoration: none; color: #FFFFFF; }          
#button a:hover {
  color: #000000;
  background-color: #ceecfe;
}

     
   